body,html {
    margin: 0px;
    padding: 0px; 
    color: black;
    font-family: 'Inter',sans-serif;
    overflow-x: hidden;
    
}

.header {
    position: relative;
    width: 100%;
    height: 67vh;
    background: url(image/VILE5927.jpeg) no-repeat center center/cover;
    color: white;
    background-attachment: fixed;
}
.header .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
}
.header .logo img {
    margin-right: 10px;
    min-width: 200px;
    max-width: 320px;
}
.header .logo h1 {
    font-size: 24px;
    margin: 0;
}
.header .nav {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}
.header .nav i {
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #212121;
    color: #fff;
    padding: 20px;
    display: none;
    flex-direction: column;
    z-index: 1000;
   
}
.sidebar.active {
    display: flex;
    top: 0;
}
.sidebar h2 {
    color: #9E9E9E;
    margin-top: 50px;
    margin-left: 16%;
    font-size: 16px;
    margin-bottom: 24px;
}
.sidebar a, .dropdown-toggle {
    text-decoration: none;
    margin: 10px 0;
    display: block;
    cursor: pointer;
    margin-left: 13%;
    font-size: calc(min(max(19px, 1.2vw), 30.25px));
}
.dropdown-toggle p{
    margin-left: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.sidebar .close-icon {
    font-size: 24px;
    cursor: pointer;
    align-self: flex-end;
}
.dropdown {
width: 30%;
display: none;
background-color: rgba(0, 0, 0, 0.0);
top: 120px;
position: absolute;
margin-left: 50%;
}
.dropdown a {
display: block;
margin-bottom:0px 0px 16px;
font-size: calc(min(max(16px, 1.2vw), 22px));
padding:  0;
color: #fff;
}
.dropdown-toggle.active + .dropdown {
    display: block;
}
/* .sidebar a.active, .dropdown-toggle.active {
    background-color: #555;
} */
.dropdown-toggle.active {
    color: #fff;
}
.dropdown-toggle.inactive {
    color: #9E9E9E;
}
p{
    margin-left: 16%;
}
/* header----------- */
.header .breadcrumb{
    width: 100%;
    flex-wrap: wrap;
   position: absolute;
   bottom: clamp(104px, calc(104px + 0*((100vw - 576px) / 1344)),104px);
}
.header .breadcrumb1 {
    width: 300px;
    font-size: calc(min(max(16px, 1.2vw), 22px));
    margin: 0px 0px 0px 97px;
}
.header .breadcrumb a {
    color: white;
    text-decoration: none;
    font-size: calc(min(max(13px, 1.2vw), 16px));
}
.header .breadcrumb1 .dot{
    margin: 0px 5px 0px 5px;
}

.header .breadcrumb span {
    margin: 0 5px;
}
.header .breadcrumb2 {
    
   width: 300px;
    font-size: 22px;
    margin: 0px 0px 0px 97px;
}
.header .breadcrumb2 p{
    margin-left: 0;
     font-size: calc(min(max(19px, 2vw), 40px));
 }
 @media (max-width:769px){
     .sidebar{
         width: 100%;
     }
 }
 @media (min-width:758px){
     /* .header .breadcrumb{
         top: 180px;
     } */
      .sidebar{
         width: 50%;
      }
    .header .breadcrumb1 { 
        width: 800px;
        font-size: 14px;
        margin-left: 8.333%;
    }
    .header .breadcrumb2 {
        width: 300px;
         font-size: 22px;
         margin-left: 8.333%;
     }
}
@media (max-width:758px) {
    /* .header .breadcrumb{
        top: 480px;
    } */
    .header .breadcrumb1 {
        flex-wrap: wrap;
        width: 100%;
        font-size: 14px;
        margin: 0;
        padding: 0px 32px;
    }
    .header .breadcrumb2 {
        width: 100%;
         font-size: 22px;
         margin: 0;
         padding: 0px 32px;
     }
     .header .breadcrumb p{
        margin: 2.5% 0% 0% 0%;
     }
}


/* ---------------------------content1 */
.content {
    display: flex;
    margin: 0px -12px;
   padding: 0px 32px;
}
.cont1{
    width: 243px;
    height: 159px;
    margin:66px 0px 0px 74.0521px;
    padding: 0px 12px;
}
.cont1 p {
    /* font-size: 16px; */
    font-size: calc(min(max(16px, 1.2vw), 22px));
    margin:0;  
}
.cont2{
    width: 450px;
    height: 159px;
    margin: 66px 0px 66px 74.0521px;
    padding: 0px 12px;
}
.cont2 p {
    font-size: calc(min(max(16px, 1.2vw), 22px));
    line-height: 1.5;
   margin: 0;
}

.item span {
    font-size: calc(min(max(16px, 1.2vw), 22px));
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    flex-grow: 1;
}
.item {
    display: flex;
    align-items: center;
    padding: 15px 0;
   
}
.item:last-child {
    border-bottom: none;
}

.item i {
    margin-right: 10px;
}
.item i {
    transition: transform 0.3s ease;
}
.item.active i {
    transform: rotate(90deg);
}
@media(min-width:758px){
   .content{
    width: 100%;
    min-height: 200px;
    margin: 0px -12px;
   padding: 0px 32px
   }
   .content .cont1{
        width: 23.3%;
        height: 40%;
        margin:6% 0% 0% 8.0521%;
        padding: 0px 12px;
    }
  
    .content .cont2{
        width: 40%;
        height: 40%;
       margin: 5.3% 0% 5.3% 8.5%;
        padding: 0px 12px;
    }
   
}
@media(max-width:758px){
    .content{
        flex-wrap: wrap;
        flex-direction: column;
    }
     .content .cont1{
        width: 100%;
        height: 40%;
        margin:55px 0px 0px 0px;
        padding: 0px 12px;
    }
    .content .cont1 p {
        margin: 0;
    }
    .content .cont2{
        width: 100%;
        height: 40%;
       margin: 55px 0px;
        padding: 0px 12px;
    }
   
}


/* ----------------------content2 */
.content2 {
    display: flex;
   background-color: #fafafa;
   padding-top: clamp(48px, calc(48px + 56*((100vw - 576px) / 1344)), 104px);
    padding-bottom: clamp(48px, calc(48px + 56*((100vw - 576px) / 1344)), 104px);
    padding-left: 32px;
    padding-right: 32px;
}
.cont3{
    width: 243.17px;
    height: 159.49px;
    margin:0px 0px 0px 74px;
    padding: 0px 12px;
}
.cont3 p {
    font-size: calc(min(max(16px, 1.2vw), 22px));
      
}
.cont4{
    width: 600px;
    margin: 0px 0px 0px 74px;
}

.value-item {
    display: flex;
    flex-direction: column;
    font-size: calc(min(max(16px, 1.2vw), 22px));
    margin-bottom: 20px;
}
.value-item i {
    margin-right: 10px;
}
.value-item hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
    display: none;
}
.value-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.value-title i {
    margin-right: 10px;
}
.value-title span {
    position: relative;
    width: 800px;
    padding: 0px 0px 10px;
    margin-top: 10px;
}

.value-title span::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    display: block;
}
.value-description {
    margin-left: 20px;
    font-size: 16px;
    color: #555;
    display: none;
    position: relative;
}
.value-description p, a{
    margin-top: clamp(24px, calc(24px + 16*((100vw - 576px) / 1344)), 40px);
    margin-bottom: clamp(24px, calc(24px + 16*((100vw - 576px) / 1344)), 40px);
     color: #555;
}
.value-description::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    display: none;
}
.value-item.active .value-description {
    display: block;
}
.value-item.active .value-description::after {
    display: block;
}
.value-item.active .value-title span::after {
    display: none;
}
@media(min-width:758px){
    .content2{
     width: 100%;
    
     margin: 0px -12px;
    
    }
    .content2 .cont3{
         width: 23.3%;
         height: 40%;
         margin:0% 0% 0% 8.0521%;
         padding: 0px 12px;
     }
     .content2 .cont3 p {
         margin: 0px 0px 32px;
     }
     .content2 .cont4{
         width: 45%;
         height: 40%;
        margin: 0% 0% 0% 8.0521%;
         padding: 0px 12px;
     }
 }
 @media(max-width:578px){
     .content2{
        
         flex-wrap: wrap;
         flex-direction: column;
       
     }
      .content2 .cont3{
         width: 80%;
         height: 40%;
         margin:0% 0% 0% 8.5%;
        
     }
     .content2 .cont3 p {
         
         margin: 0px 0px 16px;
     }
     .content2 .cont4{
         width: 80%;
         height: 40%;
         margin:0% 0% 0% 8.5%;
         padding: 0px 12px;
     }
    
 }
/* ----------------------content3 */
/* .content3 {
    display: flex;
   background-color: #fafafa;
   padding: 66px 32px;
}
.cont5{
    width: 243px;
    margin:0px 0px 0px 74px;
    padding: 0px 12px;
}
.cont5 p {
    font-size: 16px;
    margin-bottom: 20px;  
}
.cont6{
    width: 600px;
    margin:0px 0px 0px 74px;
   
}
.item span {
    font-size: 16px;
    
}
.accordion-content {
    margin-left: 25px;
    display: none;
    font-size: 14px;
    color: #666;
    border-bottom: 1px solid #e0e0e0;
}
.accordion-content p {
    margin: 29px 0px;
    
}

.item.active {
    border-bottom: none;
}
.item {
    display: flex;
    cursor: pointer;
    font-size: 18px;
} */
/* footer------------------ */
.footer{
    padding-top: clamp(48px, calc(48px + 56*((100vw - 576px) / 1344)), 104px);
     padding-bottom: clamp(48px, calc(48px + 32*((100vw - 576px) / 1344)), 80px);
     flex-wrap: wrap;
     background-color: black;
     padding-left: 32px;
    padding-right: 32px;
 }
 .footer-row {
     display: grid;
     grid-template-columns: repeat(3,1fr);  
     
 }
 .footer-column {
    width: 50%;
     /* min-width: 100px; */
     margin-bottom: 20px;
     /* margin: 0px 0px 0px 184px; */
     padding: 0px 12px ;
 }
 .footer-column h3 {
    font-size: 16px;
     color: #888888;
     margin:0px 0px 24px;
 }
 .footer-column h4{
    font-size: 16px;
     color: #888888;
     margin:0px 0px  24px;
 }
 .footer-column p{
    font-size: calc(min(max(16px, 1.2vw), 22px));
     margin:0px 0px  24px;
     color: #ffffff;
 }
 .footer-column a {
     display: block;
     color: #ffffff;
     text-decoration: none;
     margin:0px 0px  24px;
     font-size: calc(min(max(16px, 1.2vw), 22px));
 }
 
 .footer-bottom {
     padding: 48px 32px;
     margin: 0px -12px;
     font-size: 16px;
     color: #888888;
     
 }
 .footer-b p{
     font-size: 13px;
     /* margin: 0px 0px 16px 179.604px; */
     padding: 0px 12px 0px 0px ;
 }
 .bottom{
     text-align: center;
     padding: 0px 12px;
 }
 .bottom a {
     color: #888888;
     margin: 0;
     font-size: 14px;
 }
 @media(min-width:992px){
     .footer-b p{
         font-size: 13px;
         width: 62%;
         margin: 0% 0% 1% 10%;
         padding: 0px 12px 0px 0px ;
     }
 }
 @media (min-width:758px) {
     .footer-column{
         margin-left: 25.3333%;
         margin-bottom: 0%;
     }
     .footer-b p{
         font-size: 13px;
         /* width: 62%; */
         margin: 0% 0% 1% 8%;
         padding: 0px 12px 0px 0px ;
     }
 }
 @media(max-width:755px){
    .footer{
     flex-wrap: wrap;
    }
     .footer-row {
         display: grid;
         grid-template-columns: repeat(1,1fr);  
     }
     .footer-column{
         width: 20%;
     }
 }
 
 
